.half__two {
  grid-column: col-start 20 / col-end 40;
  grid-row: 1 / span 40;
  background: linear-gradient(to right bottom, rgba($primary-blue, 0.9), rgba($primary-blue, 1)), url('.././img/desk.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .8s cubic-bezier(0.165, 0.84, 0.44, 1);
  position: relative;
  z-index: 4000;
}