.half__one {
  grid-column: col-start 1 / col-start 20;
  grid-row: 1 / span 40;
  background: linear-gradient(to right bottom, rgba($primary-whitish, 0.9), rgba($primary-whitish, 0.9)), url('.././img/hike.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .9s ease-in;
  position: relative;
  z-index: 4000;
}