.navigation {
  &__checkbox {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  &__checkbox-about {}
  &__checkbox-about:checked~.half__one {
    grid-column: col-start 20 / col-end 40;
  }
  &__checkbox-about:checked~.half__one>.skills {
    transform: translateY(-1vh);
    opacity: 1;
    z-index: 8500;
    width: 75%;
  }
  &__checkbox-about:checked~.half__one>.about {
    transform: translateY(-1vh);
    opacity: 1;
    z-index: 8500;
    width: 75%;
  }
  &__checkbox-about:checked~.half__two {
    transform: translateX(-50vw);
    background: linear-gradient(to right bottom, rgba($primary-color-about, 0.9), rgba($primary-color-about, 1)), url('.././img/desk.jpg');
  }
  &__checkbox-about:checked~.menu>.menu__list>.menu__list-item>.menu__item {
    color: $mast-blue;
  }
  &__checkbox-about:checked~.name-div {
    color: $white;
  }
  &__checkbox-about:checked~.mast {
    width: 45%;
    height: 25%;
    top: 25%;
    left: 5%;
    border-radius: 5%;
    -webkit-clip-path: polygon(1% 0, 81% 0, 100% 100%, 16% 100%);
    clip-path: polygon(1% 0, 81% 0, 100% 100%, 16% 100%);
  }
  &__checkbox-about:checked~.mast>.mast__header {
    z-index: 6000;
    backface-visibility: hidden;
    font-weight: 500;
    font-size: 2rem;
    letter-spacing: .2rem;
    background: $primary-color-services;
    width: 60%;
  }
  &__checkbox-about:checked~.mast::after {
    background: $primary-color-services;
    height: 100%;
    top: 0;
    right: 0;
  }
}