.navigation {
  &__checkbox-clients:checked~.name-div {
    color: $primary-color-client;
  }
  &__checkbox-clients:checked~.clients {
    z-index: 8000;
    opacity: 1;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 70%;
    transform: translateX(0%);
  }
  &__checkbox-clients:checked~.name-div>.name__div-label::after {
    top: 15%;
    left: 0;
    width: 70%;
    height: 70%;
    background: $white;
  }
  &__checkbox-clients:checked~.name-div>.name__div-label::before {
    top: 15%;
    right: 0;
    width: 30%;
    height: 70%;
    background: $primary-color-client1;
  }
}