.navigation {
  &__checkbox-services {}
  &__checkbox-services:checked~.name-div {
    color: $primary-color-services;
  }
  &__checkbox-services:checked~.services {
    z-index: 7000;
    top: 10%;
    left: 9%;
    width: 80%;
    height: 80%;
  }
  &__checkbox-services:checked~.menu>.menu__list>.menu__list-item>.menu__item {
    color: $primary-color-services;
  }
}